@import url(../css/normalize.css);
@import url(../fonts/fonts.css);

body {
  width: 100%;
  color: #000;
  background-color: #fff;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
  /*overflow:visible !important;*/
}
*,
*:after,
*:before {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
body.fixed {
  overflow-y: hidden;
}

section {
  padding: 60px 0px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.fr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.fr-fs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    margin: 0 -15px;
}
.fi-4{
  box-sizing: border-box;

  width: calc(100% / 12 * 3 - 30px);
  margin: 15px;
}
.fi-3{
  box-sizing: border-box;

  width: calc(100% / 12 * 4 - 30px);
  margin: 15px;
}
.fi-2 {
  box-sizing: border-box;

  width: calc(100% / 12 * 6 - 30px);
  margin: 15px;
}


@media screen and (max-width: 768px) {
  .fi-3,
  .fi-4 {
    width: calc(100% / 12 * 6 - 30px);
  }
}
@media screen and (max-width: 520px) {
  .fi-2,
  .fi-3,
  .fi-4 {
    width: calc(100% / 12 * 120 - 30px);
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection{
  color            : #fff;
  background-color : #EE414F
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection{
  color            : #fff;
  background-color : #EE414F
}

::-moz-selection{
  color            : #fff;
  background-color : #EE414F
}

::selection{
  color            : #fff;
  background-color : #EE414F
}

::-moz-selection{
  color            : #fff;
  background-color : #EE414F
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.4s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  cursor: pointer;
}
button {
  border: transparent;
  background: none;
}
input,
textarea{
  color: #2E2E2E;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 14px;
  padding: 17px 35px;
  background: none;
  border: 1px solid #CCD2D4;
  border-radius: 4px;
}
.input__wrp {
  position: relative;
  border: 1px solid #CCD2D4;
  max-width: 230px;
  border-radius: 4px;
}
input::-webkit-input-placeholder { color: #2E2E2E; }
input::-ms-input-placeholder { color: #2E2E2E; }
input::-ms-input-placeholder { color: #2E2E2E; }
input::placeholder { color: #2E2E2E; } 

select {
  border-radius: 4px;
  color: #2E2E2E;
  font-size: 13px;
  padding: 10px 20px;
  background: none;
  border: 1px solid #fff;
}
option {
  color: #000;
}
textarea {
    resize:none;
}
input:focus,
textarea:focus{
  background: none;
  color: #2E2E2E;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
input:active,
textarea:active{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
ol, ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: #2E2E2E;
  font-size: 15px;
}
a:hover {
  color: #EE414F;
}

a.link:hover {
  text-decoration: underline;
}
button:active{
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
}

.hidden {
  display: none !important;
}
.btn {
  border-radius: 4px;
  font-size: 13px;
  font-family: 'HelveticaNeueCyr-Bold';
  text-transform: uppercase;
  text-align: center;
  padding: 17px 40px;
  color: #fff;
  background-color: #EE414F;
  border: 1px solid #EE414F;
  position: relative;
  letter-spacing: 1.5px;
  -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
}
  .btn:hover {
    color: #fff;
    background-color: #FE636F;
    -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  }
  .header__hamburger {
    display: none;
    position: absolute;
    top: 69px;
    right: 23px;
    width: 32px;
    height: 2px;
    background-color: #EE414F;
    opacity: 1;
    -moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
  }
    .header__hamburger:before,
    .header__hamburger:after {
      content: '';
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: #EE414F;
      left:0;
    }
      .header__hamburger:before {
        top: -14px;
      }
      .header__hamburger:after {
        bottom: -14px;
      }
        .header__hamburger.active {
          background-color: transparent;
          z-index: 4;
          top: 9px;
          right: 23px;
          width: 32px;
          height: 40px;
        }
            .header__hamburger.active:before {
              width: 39px;
              top: 24px;
              transform: rotate(315deg);
              background-color: #EE414F;
            }
            .header__hamburger.active:after {
              width: 39px;
              bottom: 14px;
              transform: rotate(45deg);
              background-color: #EE414F;
            }
.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
  box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
}
  .shd:hover {
    -webkit-box-shadow: 0px 14px 32px -9px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 14px 32px -9px rgba(0,0,0,0.69);
    box-shadow: 0px 14px 32px -9px rgba(0,0,0,0.69);
  }
.section__ttl {
  font-size: 35px;
  font-family: 'HelveticaNeueCyr-Bold';
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 45px;
  height: 45px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #2E2E2E;
  border-radius: 50%;
  position: absolute;
  top: 45%;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
}
  .owl-carousel .owl-nav button.owl-next {
    right: -75px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: -75px;
  }
  .main-slider .owl-carousel .owl-nav button.owl-next {
    right: 150px;
  }
  .main-slider .owl-carousel .owl-nav button.owl-prev {
    left: 150px;
  }
  .owl-carousel .owl-nav button.disabled {
    opacity: .5;
  }
  .owl-carousel .owl-nav button.disabled:hover {
    opacity: .1;
    background-color: transparent;
    border-color: #2E2E2E;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
.owl-carousel .owl-dots{
  position:absolute;
  width:100%;
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:-o-flex;
  display:flex;
  justify-content:center;
  bottom: -45px;
}
.owl-carousel button.owl-dot{
  width:10px;
  height:10px;
  border-radius:50%;
  border:1px solid #2E2E2E;
  background-color:#2E2E2E;
  position:relative;
  transform:scale(1);
}
.owl-carousel button.owl-dot:not(:last-child){
  margin-right:10px;
}
.owl-carousel button.owl-dot.active{
  background-color:#EE414F;
  border-color: #EE414F;
  transform:scale(1.4);
  -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
}
.list_circle,
.list_disc,
.list_square,
.list_number{
    margin-left: 20px;
}
    .list_circle li {
        list-style-type: circle;
    }
    .list_disc li {
        list-style-type: disc;
    }
    .list_square li {
        list-style-type: square;
    }
    .list_number li {
        list-style-type: decimal;
    }
    .list_circle li:not(last-child),
    .list_disc li:not(last-child),
    .list_square li:not(last-child),
    .list_number li:not(last-child) {
      margin-bottom: 10px;
    }
.fancybox-active *,
.fancybox-active *:after,
.fancybox-active *:before {
  -moz-transition: none;
  -webkit-transition-property: none;
  -webkit-transition-duration: unset;
  -webkit-transition-timing-function: unset;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #EE414F;
  }
  .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .popup_call__wrp {
    max-width: 420px;
  }
    .popup__wrp:before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      z-index: 1;
      background: linear-gradient(60deg, #2E71A7 3.31%, #FF9494 95.47%);
      opacity: .7;
      border-radius: 6px;
    }
    .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
      justify-content: flex-start;
      background-color: #fff;
      color: #000;
      border-radius: 6px;
      padding: 20px 65px 30px;
      text-align: center;
    }
      .popup__ttl {
        font-family: 'Gilroy-ExtraBold', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px;
      }
      .popup__wrp .input__wrp {
        border: 1px solid #cbcbcb;
      }
      .popup__wrp .input__wrp {
        color: #000;
        margin-bottom: 15px;
      }
        .popup__wrp .form__input {
          color: #000;
        }
      input.form__input::-webkit-input-placeholder { color: #000; }
      input.form__input::-ms-input-placeholder { color: #000; }
      input.form__input::-ms-input-placeholder { color: #000; }
      input.form__input::placeholder { color: #000; }
      .form__select {
        color: #000;
      }


      .popup__wrp .form__input_submit {
        color: #fff;
        width: 100%;
        border-color: #EE414F;;
      }
      .popup__policy {
        margin-top: 15px;
        max-width: 230px;
        text-align: center;
        font-size: 12px;
      }
        .popup__policy a {
          font-size: 12px; 
          color: #EE414F;;
        }
.header__top {
  background-color: #2E2E2E;
  color: #fff;
}
  .header__top-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
  }
    .header__top-contacts {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
    }
      .header__tel {
        color: #fff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin-right: 35px;
        position: relative;
      }
        .header__tel img {
          margin-right: 8px;
        }
        .header__tel::after {
          content: '';
          position: absolute;
          right: -20px;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: #fff;
        }
      .header__mail {
        color: #fff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin-right: 25px;
        text-decoration: underline;
      }
        .header__mail img {
          margin-right: 8px;
        }
      .header__btn {
        position: relative;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
      }

    .header__bot-container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
      padding: 20px 15px;
    }
      .header__search {
        position: relative;
      }
        input.header__input {
          width: 240px;
          padding: 15px 30px;
        }
        input.header__search-btn {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          top: 13px;
          right: 12px;
          padding: 8px 14px;
          background: url(../img/header__search-btn.svg) no-repeat center center / contain;
          border: none;
        }
      .header__nav-link {
        font-size: 12px;
        font-family: 'HelveticaNeueCyr-Medium';
        text-transform: uppercase;
        margin: 0px 16px;
      }
.main-slider {
  padding: 0;
}
  .main-slider__item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
  }
    .main-slider__in {
      padding: 30px 30px 50px;
      background-color: #fff;
      border-radius: 4px;
      max-width: 400px;
      margin-left: 100px;
    }
      .main-slider__list {
        font-size: 18px;
        line-height: 1.7;
        margin-bottom: 45px;
      }
  .main-slider .owl-carousel .owl-dots {
    bottom: 35px;
  }
.cat {
  background-color: #E5E5E5;
}
  .cat__cnt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
    .cat__item-wrp {
      height: 462px;
      width: 25%;
      max-width: 287px;
      position: relative;
    }
      .cat__item-wrp::before,
      .cat__item-wrp::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 37.45px;
        left: 0;
        right: 0;
        background: url(../img/cat__decor.svg) no-repeat 50% 50% / contain;
      }
      .cat__item-wrp::before {
        top: 0;
      }
      .cat__item-wrp::after {
        bottom: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .cat__item-bg {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(61.95deg, #2E71A7 3.31%, #FF9494 95.47%);
        box-shadow: 0px 5px 5px rgba(114, 24, 31, 0.23);
        opacity: 0;
        z-index: 1;
      }
      .cat__item-in {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 25px 15px 15px;
        z-index: 2;
      }
        .cat__item-ttl {
          font-family: 'HelveticaNeueCyr-Bold';
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 20px;
          min-height: 100px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -ms-align-items: center;
          align-items: center;
        }
        .cat__item-img {
          width: 100%;
          height: 280px;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-position: 50% 50%;
        }
        .cat__item-links {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          -o-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-align-items: flex-end;
          align-items: flex-end;
          width: 100%;
          min-height: 70px;
          margin-top: 20px;
        }
          .cat__item-link {
            font-size: 13px;
            background: #E9ECF4;
            border: 1px solid #CCD2D4;
            border-radius: 3px;
            padding: 5px 7px;
            margin-right: 5px;
            margin-bottom: 5px;
          }
          .cat__item-link:hover {
            color: #2E2E2E;
            background-color: #fff;
          }
    .cat__item-wrp:hover .cat__item-bg {
      transition: 1.2s;
      opacity: 1;
    }
    .cat__item-wrp:hover .cat__item-ttl {
      color: #fff;
    }
.supply {
  background-color: #003560;
}
  .supply .section__ttl {
    color: #fff;
  }
  .supply__cnt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
    .supply__item {
      width: calc(100%/6);
      height: 140px;
      position: relative;
      background-repeat: no-repeat;
      -webkit-background-size: 90%;
      background-size: 90%;
      background-position: 50% 50%;
      opacity: .5;
    }
      .supply__item::before,
      .supply__item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 37.45px;
        left: 0;
        right: 0;
        background: url(../img/supply__decor.svg) no-repeat 50% 50% / contain;
      }
      .supply__item::before {
        top: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .supply__item::after {
        bottom: 0;
      }
    .supply__item:hover {
      opacity: 1;
    }
.hot {
  background-color: #E9ECF4;
}
  .hot__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 340px;
    margin: 0 auto 35px;
  }
    .hot__top {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      margin-bottom: 10px;
    }
    .hot__img {
      width: 80%;
      height: 317px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: 50% 50%;
      margin-bottom: 20px;
    }
  .hot__mark-wrp {
    border: 1px solid #CCD2D4;
    border-radius: 3px;
    position: relative;
    width: 61px;
    height: 61px;
  }
  .hot__mark-wrp:not(last-child) {
    margin-bottom: 7px;
  }
    .hot__mark {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: 60%;
      background-size: 60%;
      background-position: 50% 50%;
      position: relative;
/*      -webkit-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);*/
    }
      .hot__mark::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        -webkit-background-size: 60%;
        background-size: 60%;
        background-position: 50% 50%;
        background-color: transparent;
        opacity: 0;
      }
      .hot__mark-wrp:nth-child(1) .hot__mark::before {
        background-image: url(../img/hot__mark_1.svg);
      }
      .hot__mark-wrp:nth-child(2) .hot__mark::before {
        background-image: url(../img/hot__mark_2.svg);
      }
      .hot__mark-wrp:nth-child(3) .hot__mark::before {
        background-image: url(../img/hot__mark_3.svg);
      }
      .hot__mark::after {
        content: '';
        position: absolute;
        left: -1px;
        top: 4px;
        width: 0;
        height: 0px;
        z-index: 3;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #ffffff transparent transparent transparent;
        transition: 1.3s;
        opacity: 0;
      }
    .hot__mark-ttl {
      position: absolute;
      top: -25px;
      left: -60px;
      min-width: 75px;
      height: 30px;
      padding-left: 4px;
      padding-right: 4px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 2px 2px rgba(0, 53, 96, 0.24);
      opacity: 0;
      transition: 1s;
    }
  .hot__mark-wrp:hover {
      background-color: #EE414F;
      border-color: #EE414F;
    }
    .hot__mark-wrp:hover .hot__mark::before,
    .hot__mark-wrp:hover .hot__mark::after {
      opacity: 1;
      z-index: 3;
    }
    .hot__mark-wrp:hover .hot__mark-ttl {
      opacity: 1;
    }
      .hot__mark-wrp:hover.hot__mark {
        -webkit-background-size: 0;
        background-size: 0;
      }
  .hot__item-ttl {
    font-size: 25px;
    font-family: 'HelveticaNeueCyr-Bold';
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .hot__price-wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-size: 16px;
  }
    .hot__price-wrp span:nth-child(1) {
      font-family: 'HelveticaNeueCyr-Bold';
      margin-right: 6px;
      color: #000;
    }
    .hot__price-wrp span:nth-child(2) {
      opacity: .5;
    }
  .hot__btns {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
    .hot__btns .btn {
      padding: 17px 13px;
      -webkit-box-shadow: unset;
      -moz-box-shadow: unset;
      box-shadow: unset;
    }
.btn__trp {
  border: 1px solid #000;
  color: #000;
  background: transparent;
}
  .btn__trp:hover {
    border-color: #EE414F;
  }
.btn__wht {
  border: 1px solid #fff;
  color: #000;
  background: #fff;
}
  .btn__wht:hover {
    border-color: #EE414F;
  }
.input__wrp {
  position: relative;
  border: 1px solid #fff;
  max-width: 230px;
  background-color: #fff;
}
  .input__wrp:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 16px;
    width: 16px;
    height: 17px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .input__wrp_mes:before {
    background-image: url(../img/feed__mes.svg);
  }
  .input__wrp_req:before {
    background-image: url(../img/feed__req.svg);
  }
  .input__wrp_name:before {
    background-image: url(../img/feed__name.svg);
  }
  .input__wrp_mail:before {
    background-image: url(../img/feed__mail.svg);
  }
  .input__wrp_tel:before {
    background-image: url(../img/feed__tel.svg);
  }
  .input__wrp input {
    border: transparent;
    width: 100%;
  }
.cost {
  position: relative;
  background: url(../img/cost__bg.jpg) no-repeat 50% 50% / cover;
}
  .cost::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EE414F;
    opacity: .8;
  }
  .cost__container {
    position: relative;
  }
    .cost .section__ttl {
      color: #fff;
    }
    .cost__form {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
      .cost__form-top {
        margin-bottom: 20px;
      }
      .cost__submit {
        margin-left: auto;
        margin-right: auto;
      }
.adj {
  background: #003560;
  color: #fff;
  padding-bottom: 100px;
}
  .section__subttl {
    font-size: 18px;
  }
  .adj .section__subttl {
    text-align: center;
    margin-bottom: 40px;
  }
  .adj__item {
    padding: 30px;
    height: 500px;
    position: relative;
    background: #1C496F;
    overflow: hidden;
    max-width: 390px;
    margin: auto;
  }
    .adj__item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 120%;
      height: 100%;
      background: linear-gradient(0deg, #EE414F -1.18%, rgba(238, 65, 79, 0) 100%);
      opacity: .2;
    }
    .adj__item::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 120%;
      height: 100%;
      background: linear-gradient(60deg, #2E71A7 3.31%, #FF9494 95.47%);
      opacity: 0;
    }
    .adj__in {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }
      .adj__top {
        position: relative;
        z-index: 2;
      }
        .adj__cat {
          font-family: 'HelveticaNeueCyr-Heavy';
          font-size: 20px;
          text-transform: uppercase;
          margin-top: 15px;
        }
        .adj__logo {
          max-height: 70px;
          max-width: 130px;
        }
      .adj__img {
        max-width: 290px;
        max-height: 100%;
        position: absolute;
        bottom: -30px;
        right:  -30px;
      }
      .adj__descr {
        max-width: 130px;
        position: relative;
        z-index: 2;
      }
  .adj__item:last-child .adj__in {
    justify-content: flex-start;
  }
    .adj__item .adj__descr {
      margin-top: 50px;
    }
    .adj__item:last-child .adj__img {
      max-width: unset;
      width: 120%;
    }
  .adj__cnt .owl-stage-outer {
    padding: 40px 0 55px;
  }
    .adj__cnt .owl-item.active.center {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
      z-index: 4;
    }
      .adj__cnt .owl-item.active.center .adj__item {
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
      }
        .adj__cnt .owl-item.active.center .adj__item::after {
          opacity: 1;
        }
.key__cnt {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
  .key__item {
    max-width: 491px;
    min-height: 400px;
    width: 50%;
    position: relative;
    overflow: hidden;
  }
    .key__item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 120%;
      height: 100%;
          background: linear-gradient(60deg, #2E71A7 3.31%, #FF9494 95.47%);
      opacity: 0;
    }
  .key__item:nth-child(odd) {
    background: #F6F6F7;
  }
    .key__in {
      height: 100%;
      padding: 25px 25px 40px;
      position: relative;
    }
    .key__info {
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: space-between;
    }
      .key__ttl {
        font-size: 20px;
        margin-bottom: 25px;
      }
        .key__ttl span:nth-child(1) {
          font-family: 'HelveticaNeueCyr-Heavy';
          text-transform: uppercase;
          margin-right: 6px;
        }
        .key__char-item {
          font-size: 15px;
          margin-bottom: 6px;
          max-width: 300px;
        }
          .key__char-item span:nth-child(1) {
            font-weight: 600;
            margin-right: 5px;
          }
      .key__char_last {
        margin-top: 20px;
      }
      .key__price {
        font-size: 28px;
        margin: 20px 0 30px;
      }
        .key__price span:nth-child(1) {
          color: #EF5662;
          font-family: 'HelveticaNeueCyr-Heavy';
        }
        .key__price span:nth-child(2) {
          font-size: 20px;
        }
      .key__info .btn {
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
        box-shadow: unset;
      }
      .key__info .btn:hover {
        -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
        -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
        box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
      }
    .key__img {
      position: absolute;
      top: 0;
      right: 0;
      opacity: .7;
    }
    .key__item:hover {
      -webkit-box-shadow: 0px 14px 32px -9px rgba(0,0,0,0.69);
      -moz-box-shadow: 0px 14px 32px -9px rgba(0,0,0,0.69);
      box-shadow: 0px 14px 32px -9px rgba(0,0,0,0.69);
      z-index: 2;
    }
    .key__item:hover .key__ttl span,
    .key__item:hover .key__char-item span,
    .key__item:hover .key__price span{
      color: #fff;
    }
    .key__item:hover .btn {
      border: 1px solid #fff;
      color: #000;
      background: #fff;
    }
    .key__item:hover::before {
      opacity: .6;
    }
.serv {
  background: linear-gradient(14.68deg, #76B0E0 3.31%, #FF9494 95.47%);
  position: relative;
  color: #fff;
  padding-bottom: 130px;
}
  .serv::before {
    content: '';
    position: absolute;
    width: 960px;
    height: 436px;
    right: 0;
    top: -10px;
    background: url(../img/serv__img.png) no-repeat 50% 50% / contain;
  }
  .serv__cnt {
    max-width: 600px;
    position: relative;
  }
    .serv .section__ttl {
      text-align: left;
      margin-bottom: 25px;
    }
    .serv__descr {
      font-size: 17px;
    }
.serv-list {
  background: #E9ECF4;
}
.serv-list__cnt {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
  .serv__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 40px;
  }
    .serv__img {
      width: 125px;
      height: 125px;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: 50% 50%;
      margin-right: 50px;
      border-radius: 6px;
    }
    .serv__info {
      width: 82%;
    }
      .serv__ttl {
        font-size: 18px;
        font-family: 'HelveticaNeueCyr-Heavy';
        text-transform: uppercase;
        color: #003560;
        margin-bottom: 18px;
      }
.fill {
  position: relative;
  background: url(../img/fill__bg.jpg) no-repeat 50% 50% / cover;
}
  .fill::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EE414F;
    opacity: .8;
  }
  .fill__container {
    position: relative;
  }
    .fill .section__ttl {
      color: #fff;
      margin-bottom: 20px;
    }
    .fill .section__subttl {
      text-align: center;
      color: #fff;
      margin-bottom: 25px;
    }
    .fill__form {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
      .fill__form-top {
        margin-bottom: 20px;
      }
      .fill__submit {
        margin-left: auto;
        margin-right: auto;
      }
.about .section__ttl {
  text-align: left;
}
.about__descr {
  font-size: 15px;
}
.about__descr:not(last-child) {
  margin-bottom: 25px;
}
  .about__img {
    /*width: 160px;*/
    height: 150px;
    border-radius: 6px;
    margin-bottom: 13px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }
.map__container {
    max-width: 1260px;
}
  #vmap {
    margin: 0 auto;
  }
.tab-content__item {
    -moz-transition: unset;
    -webkit-transition-property: unset;
    -webkit-transition-duration: unset;
    -webkit-transition-timing-function: unset;
}
.sys {
  background: #003560;
  color: #fff;
  padding: 0;
  position: relative;
  overflow: hidden;
}
  .sys__cnt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
    .sys__cnt .tabs__list {
      width: 38%;
    }
      .sys__cnt .tabs__list li {
        padding: 20px 0;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
      }
        .sys__cnt .tabs__list li span {
          position: relative;
        }
      .sys__cnt .tabs__list li.active {
        font-weight: 600;
      }
      .sys__cnt .tabs__list li:hover::before {
        width: 290%;
        opacity: .2;
        transition: .6s;
      }
        .sys__cnt .tabs__list li::before {
          content: '';
          position: absolute;
          width: 0;
          height: 100%;
          right: 0;
          top: 0;
          background: #3072A7;
          opacity: 0;
          transition: .6s;
        }
        .sys__cnt .tabs__list li.active::before {
          width: 290%;
          opacity: .7;
        }
    .sys__cnt .tab-content__item {
      padding: 30px 0 30px 30px;
      color: #000;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
    }
      .sys__cnt .tab-content__item::before {
        content: '';
        position: absolute;
        width: 160%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
      .sys__cnt .tab-content__item::after {
        content: '';
        position: absolute;
        width: 160%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        opacity: .7;
      }
      .sys__top {
        font-size: 35px;
        position: relative;
        z-index: 2;
      }
      .sys__ttl {
        font-size: 35px;
        font-family: 'HelveticaNeueCyr-Bold';
        margin-bottom: 25px;
        text-transform: uppercase;
        position: relative;
      }
      .sys__subttl {
        font-size: 20px;
      }
      .sys__btn {
        max-width: 220px;
        position: relative;
        z-index: 2;
      }
      .sys__cnt .tab-content__item:nth-child(1)::before {
        background-image: url(../img/sys__bg_1.jpg);
      }
.cons {
  position: relative;
  background: url(../img/cons__bg.jpg) no-repeat 50% 50% / cover;
  color: #fff;
  padding-bottom: 120px;
}
  .cons::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EE414F;
    opacity: .8;
  }
  .cons__container {
    position: relative;
  }
    .cons__container::before {
      content: '';
      position: absolute;
      right: 0px;
      bottom: -120px;
      width: 398px;
      height: 622px;
      background: url(../img/cons__girl.png) no-repeat 50% 50% / contain;
    }
    .cons .section__ttl {
      text-align: left;
      font-size: 29px;
    }
    .cons .section__subttl {
      margin-bottom: 30px;
    }
    .cons__form {
      max-width: 679px;
      position: relative;
    }
      .cons__form .input__wrp {
        margin-bottom: 15px;
        width: 90%;
        max-width: unset;
        background-color: rgba(255, 255, 255, 0.7);
      }
    .cons__info {
      background: #003560;
      padding: 18px 25px;
      border-radius: 6px;
      max-width: 585px;
      position: absolute;
      bottom: -40px;
      right: -20px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }
      .cons__info-item:nth-child(1) {
        margin-right: 8px;
      }
      .cons__info-ttl {
        font-family: 'HelveticaNeueCyr-Heavy';
        text-transform: uppercase;
        margin-bottom: 9px;
      }
      /*.cons__info-cnt {
        font-size: 16px;
      }*/
.footer {
  background: #003560;
  color: #fff;
  padding: 50px 0;
}
  .footer__top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
    .footer__models {
      width: 58%;
    }
    .footer__about,
    .footer__contacts {
      width: 18%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
      .footer__models-in {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
      } 
        .footer__col {
          max-width: 360px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          -o-flex-direction: column;
          flex-direction: column;
        }
          .footer__ttl {
            font-size: 15px;
            font-family: 'HelveticaNeueCyr-Heavy';
            text-transform: uppercase;
            margin-bottom: 16px;
          }
          .footer__link {
            color: #c7d1d9;
            text-decoration: underline;
            margin-bottom: 8px;
          }
          .footer__contacts-item {
            color: #c7d1d9;
            margin-bottom: 8px;
            position: relative;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            padding-left: 25px;
          }
            .footer__contacts-item img {
              position: absolute;
              left: 0;
              top: 3px;
            }
          .footer__btn {
            margin-top: 10px;
          }
    .footer__bot {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
      position: relative;
    }
      .footer__copy {
        margin-left: 40px;
        position: relative;
        color: #c7d1d9;
      }
        .footer__copy::before {
          content: '';
          position: absolute;
          left: -20px;
          top: -10px;
          height: 40px; 
          width: 2px;
          background: #4e83aa;
          opacity: 0.4;
        }
      .footer__counter {
        width: 31px;
        height: 31px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/footer__counter.svg) no-repeat 50% 50% / contain;
      }
      .footer__counter:hover {
        opacity: .6;
      }